body {
  background-color: aqua;
}

h1 {
  color: seashell;
  text-shadow: 0 0 3px navy;
}

#fishSection {
  background-color: navy;
  padding: 20px;
  margin: 20px;
}

#locationsSection {
  background-color: navy;
  padding: 20px;
  margin: 20px;
}

#travelTipsSection {
  background-color: seashell;
  border: solid 3px navy;
  padding: 20px;
  margin: 20px;
}

#tankTips {
  background-color: seashell;
  border: solid 3px navy;
  padding: 20px;
  margin: 20px;
}

.lightHeading {
  color: seashell;
}

#martinsFish {
  display: flex;
  flex-wrap: wrap;
}

#locations {
  display: flex;
  flex-wrap: wrap;
}

.fishCard {
  background-color: seashell;
  color: black;
  padding: 20px;
  margin: 20px;
  width: 150px;
  height: 200px;
}

.fish-image {
  width: 70%;
}

.location-image {
  width: 95%;
}

.locationCard {
  background-color: seashell;
  color: black;
  padding: 20px;
  margin: 20px;
  width: 400px;
}
